packaging==21.3
paramiko==2.11.0
pywin32==304; sys_platform == 'win32'
requests==2.31.0
types-paramiko==3.4.0.20240120
types-pywin32==306.0.0.20240106
types-requests==2.31.0.6
types-urllib3==1.26.25.14  # This is only needed as we use urllib3 < 2.0.0
urllib3==1.26.18
websocket-client==1.7.0
